<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="Logs\${shortdate}.log"/>
    <targets>
        <target name="logfile" layout="${longdate}|${level:uppercase=true}|${callsite}|${message}|${exception:format=Type}|${exception:format=message}" xsi:type="File" fileName="${currentdir}\${logDirectory}" />
        <target name="logconsole" layout="${longdate}|${level:uppercase=true}|${callsite}|${message:withexception=true}" xsi:type="ColoredConsole" />
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="logfile" />
        <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>